.fundo_login {
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
}

.card-container.card2 {
    max-width: 500px;
    padding: 40px 40px;
    margin-top: 150px;
}
.card2-container-cadastro.card {
    max-width: 100%;
}
.btn-2 {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
.card2 {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn-2.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn-2.btn-signin:hover,
.btn-2.btn-signin:active,
.btn-2.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}
.background-index{
    background-image: url("../resource/konata.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
}
.left{
    float: left;
}
.left_align{
    text-align: left;
}
.right-align{
    text-align: right;
}

.center{
    text-align: center;
}

.right{
    float: right;
}


.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.titulo{
    color: white;
    font-weight: 500;
    vertical-align: middle;
    display: inline;
}
.div-titulo{
    background-color: rgba(85, 85, 85, 0.62);
    opacity: 0.95;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    line-height: 1.1;
    padding-left: 10px;
    display: inline;
    padding-bottom: 10px;
    padding-top: 10px;
}

.card-imagem{
    cursor: pointer;
    height: 350px;
    width: 250px;
    margin-bottom: 30px;
}

.nav2{
    margin-bottom: 20px;
}
.active{
    background-color: rgba(224, 224, 224, 0.42);
}

.container2{
    margin: 10px 20px 10px 20px;
}

.imagem-perfil-personagem{
    width: 30%;
    padding-top: 5px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 100%;
}
.div-personagem-detalhes{
    font-size: 15px;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding-left: 30px;
}

.nav-detalhes-personagem{
    font-size: 20px;
    font-weight: 500;
    color: black;
    padding: 10px 0 10px 15px;
}

.row-personagem-detalhes{
    display: table;
}
.descricao-texto-personagem{
    text-align: justify;
}
.row-cards{
    margin-bottom: 30px;
    margin-top: 30px;
}
.personagem-detalhes-card-dubladores{
    height: 350px;
    width: 250px;
    vertical-align: top;
    display: table-cell;
}
.img-dubladores{
    display: inline;
    vertical-align: middle;
    height: 100%;
    margin-left: 25px;
}

.div-estatisticas-anime{
    font-size: 15px;
    display: table-cell;
    vertical-align: top;
    text-align: left;
    padding-left: 50px;
    width:450px;
}

.div-informacao-anime{
    font-size: 15px;
    display: table-cell;
    vertical-align: top;
    text-align: left;
    padding-left: 50px;
    width:450px;
}

.row-anime-detalhes{
    font-size: 15px;
    display: table-cell;
    vertical-align: middle;
    text-align: left;

}

.anime-detalhe-info-principal{
    display: table;
}
.anime-detalhe-info-principal-cell{
    display: table-cell;
    vertical-align: middle;
}

.imagem-perfil-anime{
    width: 30%;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    text-align: center;
}
.info-cell{
    width: 95%;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(214, 214, 214, 0.2);
    margin: 0 38px 15px 30px;
    display: table;
    border: solid 1px rgba(154, 154, 154, 0.31);
}
.info-cell-row{
    display: table-cell;
    vertical-align: middle;
}
.text-score{
    font-size: 22px;
    font-weight: 900;
    text-align: center;
}
.text-users{
    font-size: 10px;
    font-weight: 400;
    text-align: center;
}
.card-dubladores{
    display: table;
}
.img-dubladores-card{
    width: 30px;
    height: auto;
}
.card-espacamento{
    margin-right: 5px;
    margin-left: 5px;
}
.div-informacao-manga{
    font-size: 15px;
    display: table-cell;
    vertical-align: top;
    text-align: left;
    padding-left: 50px;
    width:450px;
}
.div-estatisticas-manga{
    font-size: 15px;
    display: table-cell;
    vertical-align: top;
    text-align: left;
    padding-left: 50px;
    width:450px;
}
.imagem-perfil-manga{
    width: 30%;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    text-align: center;
}