.background-index{
    background-image: url("../resource/konata.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.titulo{
    color: white;
    font-weight: 500;
    vertical-align: middle;
    display: inline;
}
.div-titulo{
    background-color: rgba(85, 85, 85, 0.62);
    opacity: 0.95;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    line-height: 1.1;
    padding-left: 10px;
    display: inline;
    padding-bottom: 10px;
    padding-top: 10px;
}

.card-imagem{
    cursor: pointer;
}

.nav2{
    margin-bottom: 20px;
}
.active{
    background-color: rgba(224, 224, 224, 0.42);
}

.container2{
    margin: 10px 20px 10px 20px;
}

.imagem-perfil-personagem{
    width: 40%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 100%;
}
.div-personagem-detalhes{
    font-size: 15px;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding-left: 30px;
}

.nav-detalhes-personagem{
    font-size: 20px;
    font-weight: 500;
    color: black;
    padding: 10px 0 10px 15px;
}

.row-personagem-detalhes{
    display: table;
}
.descricao-texto-personagem{
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
}
.row-cards{
    margin-bottom: 30px;
}
.personagem-detalhes-card-dubladores{
    height: 350px;
    width: 225px;
    display: table-cell;
}
.img-dubladores{
    display: inline;
    vertical-align: middle;
    height: 100%;
    margin-left: 25px;
}
.img-personagem{
    width: 500px;
    vertical-align: middle;
    text-align: center;
}